

<!--@recipe is a Recipe class object-->
<h1><%= @recipe.name %></h1>

<h3>Description</h3>
  <% if !@recipe.description.nil? %>
    <p><%= @recipe.description %></p>
  <% else %>
    <p>This recipe doesn't have a description.</p>
  <% end %>

<h3>Instructions</h3>
  <% if !@recipe.instructions.nil? %>
    <p><%= @recipe.instructions %></p>
  <% else %>
    <p>This recipe doesn't have any instructions.</p>
  <% end %>

<h2>Ingredients</h2>
<ul>
  <!--@recipe array of recipe objects-->
  <!--calls ingredients method-->
  <!--ingred method: returns array of ingredient objects-->
<% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.ingredient_name %></li>
  <% end %>
</ul>



<p><a href="/recipes">Back to Recipes</a></p>
